 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    cursor: url(img/garrita.png), auto;
}

body{
    background-color: rgb(32, 23, 23);
    height: 610px;  /*alto de todo el body*/
   /* display: flex;  Hace flexible el tamaño de los elementos, para que se acomoden todas a un 
    mismo nivel osea que dejaría todas las cartas a una misma altura, aunque les achica el tamaño*/
    /* alinea a sus hijos sobre el eje vertical, en este caso los hijos son los div*/
    /*justify-content: center;  justifica a los hijos en el eje horizontal, y por este
    motivo voy a tener que colocar el mismo width que eliga, para todas las class padre*/
    /* align-items: center; centra a los hijos en el eje vertical*/
    background-image: url(img/fondoInteractivo.jpg) ; /* lo mejor es llamar desde
    aqui a la imagen para utilizarla de fondo*/
    background-repeat: no-repeat;
    background-size: cover;   
    cursor: url(img/garrita.png), auto;
}

.container {
/* margin-top: 20%; */
    position: absolute;
    height: 610px; /* que ocupe toda el alto de la pantalla*/
 /* width: 100%;  el problema de poner ancho al 100% es que la imagen
 se acomoda al ancho y me corta parte de su altura*/
      
   /*  esto hace que la imagen siempre se 
    reduzca proporcionalmente izq y der mientras cambia el tamaño de la pantalla*/
    /* background-attachment: fixed;  fija la imagen cubra toda la pantalla*/
}

/* ---------  Pan ---------------------------------------------------*/
/*----  -----*/
.pan {
    margin-top: 320px; /*  distancia con el top de arriva */
    margin-left: 12px;/*  distancia con el top izquierdo */
    width: 130px; /*ancho del objeto */
    height: 100px; /* altura del objeto */
    position: absolute;
   /* background-color: red; */
   background-repeat: no-repeat;
    background-size: contain;
}

/* ---------  Huevos ---------------------------------------------------*/
/*----  -----*/

.tomar-huevo{
    margin-top: 305px; /*  distancia con el top de arriva */
    margin-left: 922px;/*  distancia con el top izquierdo */
    width: 140px; /*ancho del objeto */
    height: 110px; /* altura del objeto */
    position: absolute;
   /* background-color: red; */
   background-repeat: no-repeat;
    background-size: contain;
}


/* ---------  Sarten ---------------------------------------------------*/
/*---- Sarten cocina  -----*/
.sartenCocina {
    margin-top: 254px; /*  distancia con el top de arriva */
    margin-left: 522px;/*  distancia con el top izquierdo */
    width: 180px; /*ancho del objeto */
    height: 140px; /* altura del objeto */
    position: absolute;
   /* background-color: red; */
   background-repeat: no-repeat;
   /* background-image: url(img/sartenConHuevos1.png);*/
    background-size: contain;
}

/* ---------  Pava  ---------------------------------------------------*/
/*---- Pava cocina  -----*/
.pavaCocina {
    margin-top: 207px; /*  distancia con el top de arriva */
    margin-left: 424px;/*  distancia con el top izquierdo */
    width: 120px; /*ancho del objeto */
    height: 184px; /* altura del objeto */
    position: absolute; 
   background-repeat: no-repeat;
  /*  background-image: url(img/pava6.png);*/
    background-size: contain;
}

/* ---------  Licuadora  ---------------------------------------------------*/
.licua {
    margin-top: 180px; /*  distancia con el top de arriva */
    margin-left: 57px;/*  distancia con el top izquierdo */
    width: 110px; /*ancho del objeto */
    height: 200px; /* altura del objeto */
    position: absolute;
    background-image: url(img/licuadoraNueva0.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.licua.active {
    margin-top: 175px; /*  distancia con el top de arriva */
    margin-left: 55px;/*  distancia con el top izquierdo */
    width: 110px; /*ancho del objeto */
    height: 200px; /* altura del objeto */
    position: absolute;
    background-image: url(img/licuadoraNueva1.gif);
    background-size: cover;
    background-repeat: no-repeat;
}


/* -----  naranjas ---*/
.naranjas {
    margin-top: 340px; /*  distancia con el top de arriva */
    margin-left: 172px;/*  distancia con el top izquierdo */
    width: 100px; /*ancho del objeto */
    height: 100px; /* altura del objeto */
    position: absolute;
    background-size: contain;
}

/* -----  cafe ---*/
.tazasVacias {
    margin-top: 310px; /*  distancia con el top de arriva */
    margin-left: 272px;/*  distancia con el top izquierdo */
    width: 100px; /*ancho del objeto */
    height: 100px; /* altura del objeto */
    position: absolute;
    background-size: contain;
}

/*------------------  botones de la cocina ----------------------------------------------*/
/*------------------  boton pava  ---------*/
.boton-pava {
    margin-top: 410px; /*  distancia con el top de arriva */
    margin-left: 449px;/*  distancia con el top izquierdo */
    width: 35px; /*ancho del objeto */
    height: 35px; /* altura del objeto */
    position: absolute;
    background-size: contain;
}



/*------------------  boton sarten  ---------*/
.boton-sarten {
    margin-top: 410px; /*  distancia con el top de arriva */
    margin-left: 587px;/*  distancia con el top izquierdo */
    width: 35px; /*ancho del objeto */
    height: 35px; /* altura del objeto */
    position: absolute;
    background-size: contain;
}

/*------------------  plato  ---------*/
.plato {
    margin-top: 362px; /*  distancia con el top de arriva */
    margin-left: 782px;/*  distancia con el top izquierdo */
    width: 35px; /*ancho del objeto */
    height: 35px; /* altura del objeto */
    position: absolute;
    background-size: contain; 
}



/* --------*/
/* --------- BOTON ENLACE A final.html  ---------------------------------------------------*/
 
/* --------*/
/* --------- BOTON ENLACE A final.html  ---------------------------------------------------*/
 


.btn-interactivo {
    transition: all 0.6s ease;
    z-index: 1;
}

.btn-interactivo::after{
    content: " ";
    position: absolute;
    width: 10px;
    height: 36px;
    left: 800px;
    top: 560px;
    background-color: rgb(191, 44, 157);
    transform: skew(-20deg, 0deg);
    transition: all 0.4s ease;
}


.btn-interactivo::before{
    content: "A DESAYUNAR > > >";
    font-family: cursive;
    position: absolute;
    width: 160px;
    height: 30px;
    left: 810px;
    top: 560px;
    transform: skew(-20deg, 0deg);
    border: 3px solid #c17491;
    background-color: #c17491;
    transition: all 0.4s ease;
     
}

.btn-interactivo:hover::after{
    background-color: aqua; 
    transform: skew(-20deg, 0deg) translateX(175px);
}

.btn-interactivo:hover:before{
    background-color: aqua; 
    border: 3px solid  aqua;
    transform: skew(-20deg, 0deg) scale(1.1);
}
